*{
    margin:0;
    padding:0;

}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8EFD3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#heading {
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse; /* Ensures that the borders are collapsed into a single border */
}
th, td {
    border: 1px solid black; /* Adds a solid black border to table headers and cells */
    padding: 8px; /* Adds padding for better spacing */
    text-align: left; /* Aligns text to the left */
}
th {
    background-color: #f2f2f2; /* Adds a light grey background to table headers */
}

